$primaryColor: #2fa8cf;

body {
  margin: 0;
}

.MuiDrawer-root {
  background-color: $primaryColor;
  min-height: 100vh;
  margin-right: 20px;

  .MuiMenuItem-root {
    color: #fff;
  }

  .MuiListItemIcon-root {
    color: #fff;
  }
}

.MuiCard-root {
  padding: 32px;
  box-sizing: border-box;

  .MuiCardContent-root {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 32px;
    box-sizing: border-box;

    .MuiFormControl-root {
      display: flex;
      margin: 16px;
      min-width: 225px;
      max-width: 225px;

      .MuiFormLabel-root {
        color: $primaryColor;
      }
    }
  }
}

.simple-form {
  & > *:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
  }
}

.show-page:nth-child(1) {
  & > *:nth-child(1) {
    & > *:nth-child(2) {
      display: flex;
      flex-wrap: wrap;
      & > * {
        margin: 10px 20px;
      }
    }
  }
}

// Campos login
.MuiButton-containedPrimary {
  color: #fff;
  background-color: $primaryColor !important;
}

.MuiButton-containedPrimary:hover {
  background-color: $primaryColor !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid $primaryColor !important;
}

.MuiFormLabel-root.Mui-focused {
  color: $primaryColor !important;
}

// Loading button login
.MuiCircularProgress-colorPrimary {
  color: #fff !important;
}
