body {
    margin: 0;
}

.MuiDrawer-root {
    background-color: #EC008C;
    height: 100vh;
    margin-right: 20px;

    .MuiMenuItem-root {
        color: #fff;
    }

    .MuiListItemIcon-root {
        color: #fff;
    }
}

.simple-form {
    & > *:nth-child(1) {
        display: flex;
        flex-wrap: wrap;
    }
}

.show-page:nth-child(1) {
    & > *:nth-child(1){
        & > *:nth-child(2) {
            display: flex;
            flex-wrap: wrap;
            & > * {
                margin: 10px 20px;
            } 
        }
    }
}